<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Chapter9" translate="label" sortOrder="500">
            <label>Chapter 9</label>
        </tab>
        <section id="chapter9" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Hide Price</label>
            <tab>Chapter9</tab>
            <resource>Magenest_Chapter9::hidePrice</resource>
            <group id="general" translate="label comment" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Coupon Code page settings</label>
                <field id="hidePrice" translate="label comment"
                       type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>chapter9/general/hidePrice</config_path>
                </field>
            </group>
        </section>
    </system>
</config>